body{
    background: rgb(0, 0, 0);
    margin-top: 3%;
}
.bg-inside{
    background: rgba(183, 233, 245, 0.4);
    box-shadow: 0px 0px 1px rgb(10, 185, 216);
}
 .calculator{
    box-shadow: 4px 8px 50px rgb(29, 134, 253);
    background-color: rgb(0, 57, 80);
}
.bg-button{
     background: rgba(255, 255, 255, 0.4);
     width: 60px;
     height: 60px;
     box-shadow: 0 0 5px 3px rgb(144, 233, 248);
}
.btn:hover{
    background: rgb(255, 255, 255) !important;
}

.bg-result{
    background-color: rgb(15, 192, 177);
}
.bg-button-op{
    background: rgba(245, 6, 6, 0.4);
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px 3px rgb(144, 233, 248);
}